<div id="wrapper" class="span8">
  <div class="introduction">
    <div id="page-title" class="organizations">
      <h2>Kto za tym stoi?</h2>
    </div>
    <p>
    Serwis ktorzadzi.pl prowadzony jest przez Fundację Media 3.0 w partnerstwie z Fundacją Civio z Madrytu oraz serwisem przeswietl.pl. Główną część programistyczną stworzył David Cabo, dodatkowe API dla Senatu przygotował Jakub Król, zaś połączeniem baz danych zajął się Marcin Biegun. Jeżeli chcesz dołączyć do naszego zespołu napisz na: ktorzadzi@media30.pl. Obecnie poszukujemy dziennikarzy zajmujących się bazami danych.

    W serwis zaangażowane są obecnie następujące osoby:
    </p>
  </div>
  <ul class="ch-grid">
  	<li>
  		<div class="ch-item ch-img-1">
  			<div class="ch-info"><br /><br /><br />
          Jakub Król - Programista i specjalista od baz <br />danych. W stopniu zaawansowanym i profesjonalnym <br />pracuje w językach Delphi (wykorzystuje także sztuczną inteligencję oraz proste sieci neuronowe), PHP (własne frameworki), Javascript, Java, AJAX, specjalista w SQL. Za swe narzędzia nagradzany na międzynarodowych konkursach i targach na całym świecie złotymi medalami i wyróżnieniami (m.in. Seul, Paryż, Moskwa, Bruksela, Londyn, Taipei). Studiował informatykę na Politechnice Śląskiej. Główny programista web i desktop w Fundacji Media 3.0.
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="ch-item ch-img-2">
  			<div class="ch-info"><br /><br /><br />
          Łukasz Żyła - Dziennikarz.<br /> W swej pracy wykorzystuje nowe media<br />(twórca m.in. fotokastów i reportaży multimedianych),<br /> programuje w Processingu. Współpracował z „Gazetą Wyborczą”. Były redaktor naczelny kilku regionalnych tytułów na Śląsku. Projektant w Fundacji Media 3.0, odpowiedzialny m.in. za aplikację Parlament. Tłumacz (m.in. „Psychomagia” Alejandro Jodorowsky). Studiował nauki polityczne na UJ, ukończył kurs psychoanalizy w Krakowskiej Szkole Psychoterapii Psychonanalitycznej.
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="ch-item ch-img-3">
  			<div class="ch-info" style="font-size: 12px;"><br />
          dr Michał Bernaczyk<br />Ogólnopolskiej klasy specjalista prawa do<br /> informacji publicznej, zajmuje się problematyką<br /> przetwarzania informacji z wykorzystaniem nowych<br /> technologii (IT).  Autor kilkudziesięciu artykułów i książek poświęconych tym zagadnieniom. Ekspert w Biurze Analiz<br /> Sejmowych, doradca Komisji Odpowiedzialności Konstytucyjnej Sejmu RP VII kadencji. Adiunkt w Katedrze Prawa Konstytycyjnego na Uniwersytecie Wrocławskim, Prowadzący i prelegent licznych szkoleń, wykładów adresowanych do sędziów, prokuratorów, administracji rządowej,<br /> samorządowej poświęconych dostępowi do informacji<br /> publicznej, ochronie informacji i jej<br /> ponownemu wykorzystywaniu.
  			</div>
  		</div>
  	</li>
  	<li>
  		<div class="ch-item ch-img-4">
  			<div class="ch-info"><br /><br /><br />
  				Piotr Kozłowski -  Z zawodu i wykształcenia<br /> dziennikarz. Redaktor naczelny Datablog.pl.<br /> Karierę zaczynał w Polskapresse i Inforze.<br /> Jako freelancer pisał dla wielu serwisów motoryzacyjnych. Skrzydła rozwinął w Agorze, gdzie zaczął pracę w Gazeta.pl. Później zwerbowany do współtworzenia od podstaw działu obróbki danych cyfrowych w “Gazecie Wyborczej”.<br /> Obecnie dziennikarz oraz specjalista ds. komunikacji w Fundacji Media 3.0.
  			</div>
  		</div>
  	</li>
  </ul>
</div>